node_modules/
staticfiles/
shop_venv/
**/vendor/
**/ckeditor5/
**/*.min.js
**/*.min.css
pos_app/dist/
pos_app/frontend/node_modules/
pos_app/frontend_build/
.git/
*.pyc
__pycache__/
**/migrations/*
components_data/static/design/themes/*/*/theme/css/tokens.css
