{% extends "blog/blog_base.html" %}
{% load i18n merchant_trans %}

{% block blog_title %}{% mtrans "Subscription Verified" %}{% endblock %}

{% block blog_breadcrumb %}
<nav class="blog-breadcrumb" aria-label="{% mtrans 'Breadcrumb' %}">
    <ol class="blog-breadcrumb__list">
        <li class="blog-breadcrumb__item">
            <a href="/" class="blog-breadcrumb__link">{% mtrans "Home" %}</a>
        </li>
        <li class="blog-breadcrumb__item">
            <a href="{% url 'blog:list' %}" class="blog-breadcrumb__link">{% mtrans "Blog" %}</a>
        </li>
        <li class="blog-breadcrumb__item blog-breadcrumb__item--active">{% mtrans "Subscription Verified" %}</li>
    </ol>
</nav>
{% endblock %}

{% block blog_sidebar_wrapper %}{% endblock %}

{% block blog_content %}
<div class="blog-message-card">
    <div class="blog-message-card__icon blog-message-card__icon--success">
        <i class="fas fa-check-circle"></i>
    </div>
    <h1 class="blog-message-card__title">{% mtrans "You're subscribed!" %}</h1>
    <p class="blog-message-card__text">
        {% blocktrans with email=subscriber.email %}Your email {{ email }} has been verified. You'll now receive notifications about new blog posts.{% endblocktrans %}
    </p>
    <a href="{% url 'blog:preferences' token=subscriber.unsubscribe_token %}" class="blog-message-card__btn">
        <i class="fas fa-cog"></i> {% mtrans "Manage Preferences" %}
    </a>
    <a href="{% url 'blog:list' %}" class="blog-message-card__link">
        {% mtrans "Back to Blog" %} &rarr;
    </a>
</div>
{% endblock %}
