{% load i18n %}
<script type="application/json" id="provider-modal-i18n">
{
    "installed": "{% trans "Installed" %}",
    "available": "{% trans "Available" %}",
    "paymentCapture": "{% trans "Payment Capture" %}",
    "authorization": "{% trans "Authorization" %}",
    "refunds": "{% trans "Refunds" %}",
    "partialRefunds": "{% trans "Partial Refunds" %}",
    "webhookSupport": "{% trans "Webhook Support" %}",
    "recurringPayments": "{% trans "Recurring Payments" %}",
    "threeDSecure": "{% trans "3D Secure" %}",
    "multiCurrency": "{% trans "Multi-Currency" %}",
    "savePaymentMethods": "{% trans "Save Payment Methods" %}",
    "subscriptions": "{% trans "Subscriptions" %}",
    "moreCount": "{% trans "+%(count)s more" %}",
    "globalCoverage": "{% trans "Global Coverage" %}",
    "supportsAllCountries": "{% trans "Supports all your %(count)s shipping %(noun)s" %}",
    "doesNotSupportCountries": "{% trans "Does not support %(count)s of your shipping countries" %}",
    "supportsPartialCountries": "{% trans "Supports %(supported)s of your %(total)s shipping %(noun)s" %}",
    "doesNotSupportAny": "{% trans "Does not support any of your shipping countries" %}",
    "pciDssCompliant": "{% trans "PCI DSS Compliant" %}",
    "transactionFee": "{% trans "Transaction Fee:" %}",
    "setupFee": "{% trans "Setup Fee:" %}",
    "updateTo": "{% trans "Update to v%(version)s" %}",
    "configure": "{% trans "Configure" %}",
    "installProvider": "{% trans "Install Provider" %}",
    "country": "{% trans "country" %}",
    "countries": "{% trans "countries" %}",
    "loading": "{% trans "Loading..." %}",
    "errorLoadingVersions": "{% trans "Could not load version history." %}"
}
</script>
